apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-{{ .Release.Name }}-backuper-script
  namespace: {{ .Release.Namespace }}
data:
  backup.sh: |
    #!/bin/sh
    set -e

    BACKUP_DIR="/backups"
    TIMESTAMP=$(date +'%Y%m%d%H%M%S')
    BACKUP_FILE="$BACKUP_DIR/${POSTGRES_DATABASE}_backup_$TIMESTAMP.sql.gz"

    mkdir -p "$BACKUP_DIR"

    echo "Starting backup of database '$POSTGRES_DATABASE' at $(date)"

    export PGPASSWORD="$POSTGRES_PASS"

    # Run the backup
    pg_dump -h "$POSTGRES_HOST" \
            -p "$POSTGRES_PORT" \
            -U "$POSTGRES_USER" \
            "$POSTGRES_DATABASE" \
            | gzip > "$BACKUP_FILE"


    echo "Sleeping for 10s to simulate bigger DB's dump..."
    sleep 10

    echo "Backup finished successfully: $BACKUP_FILE"
